.comment_card {
  display: flex;
  background-color: purple;
  border-radius: 6px;
  min-height: 60px;
  position: relative;
  margin-bottom: 10px;
  padding-top: 10px;
  flex-direction: column;
}

.comment {
  color: white;
  font-size: 15px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.comment_info {
  display: flex;
  align-items: center;
  justify-content: end;
  position: absolute;
  bottom: 1px;
  right: 20px;
}

.comment_user {
  font-size: 12px;
  color: white;
  margin-right: 10px;
}

.post_time {
  font-size: 12px;
  color: white;
  font-style: italic;
  margin-right: 10px;
}

.comment_likes {
  font-size: 12px;
  color: white;
}

.likeButton {
  color: white;
}
