.listPage {
  padding-top: 60px;
  height: 100vh;
}

.listRow {
  display: flex;
  flex-wrap: wrap;
}

.listItem {
  margin: 20px;
  width: 140px;
}

.listItem > img {
  width: 140px;
  margin-bottom: 10px;
}

.listItem_sub {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listItem_sub > p {
  color: white;
  font-size: 15px;
  cursor: pointer;
}
